In [1]:
import os
import pandas as pd
import numpy as np

# Reading input data

There are methods in `src/read_input.py` to read data from the csv files downloaded from the INMET website

These methods take in consideration the inconsistensies regarding column names, and groups them by position, which seemed consistent for all files

In [4]:
from src.read_input import group_datasets_by_location, format_dataset

location = "A001"
years = [str(i) for i in range(2000, 2024)]
raw_data = group_datasets_by_location(location, years)
input_data = format_dataset(raw_data)
input_data.tail()

,global-radiation,total-precipitation,relative-humidity,temperature-last-hour-max,temperature-last-hour-min,wind-speed,wind-speed-max-gust
datetime,,,,,,,
2023-12-31 19:00:00,1252.2,0.0,63.0,28.1,26.0,2.1,5.3
2023-12-31 20:00:00,1178.8,0.0,56.0,27.7,25.8,1.9,5.2
2023-12-31 21:00:00,873.0,0.0,61.0,27.7,25.5,2.7,5.1
2023-12-31 22:00:00,104.0,0.0,72.0,25.5,23.4,2.0,4.8
2023-12-31 23:00:00,NaN,0.0,78.0,23.4,22.3,1.4,3.7

#

In [6]:
from src.grouping_data import (
    group_df_by_day,
    DEFAULT_INDEX_COLUMN,
    DEFAULT_TARGET_COLUMN,
)

target = DEAFULT_TARGET_COLUMN
idx = DEAFULT_INDEX_COLUMN

by_day = group_df_by_day(input_data, idx, target)
by_day.tail()

,global-radiation,total-precipitation,relative-humidity,temperature-last-hour-max,temperature-last-hour-min,wind-speed,wind-speed-max-gust
datetime,,,,,,,
2023-12-27,1320.278571,0.000000,74.458333,23.858333,22.200000,1.679167,4.350000
2023-12-28,1373.750000,0.025000,79.291667,23.595833,21.608333,1.591667,3.979167
2023-12-29,1508.907143,0.000000,74.208333,24.875000,23.308333,1.791667,4.733333
2023-12-30,1358.008333,0.116667,79.416667,23.841667,22.358333,1.975000,5.220833
2023-12-31,1376.500000,0.900000,80.875000,22.600000,21.466667,2.254167,5.695833